@import '../../index.scss';

.ship_card {
  width: 25%;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  margin: 5px 30px;
  background-color: #181818;
  border-radius: 0px 0px 0px 30px;
  &:hover{
    background-color: #000000;
    cursor: pointer;
    img{
      border: 4px solid rgb(85, 0, 0);
    }
  }
  img {
    width: calc(100% - 8px);
    border: 4px solid rgb(63, 0, 0);
  }
  .price {
    display: flex;
    margin-top: -5px;
    ion-icon {
      font-size: 30px;
    }
    .main_price {
      display: flex;
      align-items: center;
    }
    p {
      margin-top: 15px;
      font-size: 16px;
    }
    .discount {
      position: relative;
      margin-top: 5px;
      margin-left: 5px;
      span {
        display: block;
        width: 100%;
        height: 2px;
        background-color: #df2020;
        position: absolute;
        top: 19px;
      }
      .price_discount {
        display: flex;
        align-items: center;
        ion-icon {
          font-size: 20px;
        }
        h3 {
          font-size: 20px;
        }
        p {
          margin-top: -2px;
          font-size: 14px;
        }
      }
    }
  }
  
}

.ship_card_text{
  padding: 10px;
  h6{
    font-weight: 200;
    font-size: 16px;
  }
}

.buttons {
  margin-top: 40px;
  display: flex;
  align-items: center;
  margin-bottom: 40px;
  .a {
    font-size: 14px !important;
    margin: 10px 0 0 0 !important;
    font-weight: 200;
    height: 26px;
    cursor: pointer;
    &:hover {
      color: $primary;
    }
  }
  button {
    margin-left: auto;
  }
}

.no_stock{
  color: $primary;
}