@import "../../../index.scss";

.carousel {
  position: relative;
  height: 600px;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  background-color: rgb(27, 27, 27);
  box-sizing: border-box;

  .slide {
    opacity: 0;
    transition: 1s all ease;
    width: 100vw;
    height: 100%;
    margin: auto;
    .img {
      width: 100vw;
      height: 100%;
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
      .slider_information {
        position: relative;
        height: 100%;
        .product_card {
          position: absolute;
          right: 0;
          top: 50%;
          padding: 40px;
          background-color: #610a0a60;
          transform: translate(-0%, -50%);
          h3 {
            font-size: 50px;
            margin: 0;
          }
          h4 {
            font-size: 30px;
            margin-top: -20px;
          }
          .price {
            display: flex;
            margin-top: 10px;
            ion-icon {
              font-size: 50px;
            }
            .main_price {
              display: flex;
              align-items: center;
            }
            p {
              margin-top: 26px;
              font-size: 20px;
            }
            .discount {
              position: relative;
              margin-top: 20px;
              margin-left: 5px;
               span {
                display: block;
                width: 100%;
                height: 2px;
                background-color: #df2020;
                position: absolute;
                top: 19px;
              }
              .price_discount {
                display: flex;
                align-items: center;
                ion-icon {
                  font-size: 20px;
                }
                h3 {
                  font-size: 20px;
                }
                p {
                  margin-top: -2px;
                  font-size: 14px;
                }
              }
            }
          }
          h5 {
            color: rgb(231, 152, 152);
            font-size: 30px;
            margin-top: -20px;
            margin-left: 15px;
          }
          .buttons {
            width: 400px;
            margin-top: 40px;
            display: flex;
            align-items: center;
            a {
              font-size: 16px;
              font-weight: 200;
              border-bottom: 2px $primary solid;
              height: 26px;
              cursor: pointer;
              &:hover {
                color: $primary;
              }
            }
            button {
              margin-left: auto;
            }
          }
        }
        // position: absolute;
        // right: 0;
        // top: 0;
        // transform: translate(-50%);
        // height: 400px;
        // border: solid 1px $primary;
      }
    }
  }

  .active {
    opacity: 1;
    width: 100vw;
    height: 100%;
  }
}

.arrow_style {
  user-select: none;
  cursor: pointer;
  position: absolute;
  top: 50%;
  transform: translate(0, -50%);
  color: #ee0c0c;
  text-shadow: 0 0 7px rgb(82, 82, 82), 0 0 10px #f00, 0 0 21px #f00,
    0 0 42px #df2020;
  z-index: 1;
  font-size: 70px;
}

.left_arrow_styles {
  left: 80px;
}

.right_arrow_styles {
  right: 80px;
}
